

:root {
--colorglobal: rgba(34, 27, 54, 0.815);
--textclaro: rgba(255, 255, 255, 0.815);
}


body {

    font-family: "Titillium wed" sans-serif;
   

}


main {
    height: auto !important;
    height: 100%;
    min-height: 80vh;


}


header{

    background: var(--colorglobal);
    color: var(--textclaro);



}
footer {
    background-color: rgb(0, 0, 0, 0.815);

}


.iconos i {
    color: rgb(255, 255, 255);

}